<!DOCTYPE html>
<html>
<body>
    <form action="/add-user" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="email" name="email" placeholder="Enter email">
        <button type="submit">Submit</button>
    </form>
</body>
</html>